
[Unit]
Description=Aniol git pull service

[Service]
Type=oneshot
ExecStart=/etc/systemd/system/aniol_gitpull.sh
StandardOutput=append:/var/log/aniol_gitpull.log
StandardError=append:/var/log/aniol_gitpull.log
User=user
Group=user

[Install]
WantedBy=multi-user.target
